<!DOCTYPE html>
<html>

<head>
    <!-- import JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <title>
        SciWards
    </title>

    <div id="navbar"></div>
    <link rel="stylesheet" href="/CSS/home_page.css">
</head>

<body>
    <div class="container">
        <h2>About</h2>
        <p class="about-text">
            Welcome to Sciwards! Our site houses a collection of citizen science projects. What is citizen science, you might ask? Citizen science is science that involves the everyday citizen in the scientific process. But why involve the citizen? Often, modern science involves processing or categorizing massive data sets, which requires an extensive amount of time. While some of these have been automated by computers, certain tasks can't yet be adequately replaced. These projects involve the user with tasks that humans are generally good at such as pattern-recognition, or puzzle solving. While some of these projects are actively engaging, we understand that some may become dull over time. Our mission is to make citizen science projects more accessible and enjoyable by gamifying the experience.
        </p>
    </div>
    <div class="container">
        <h2 id="project-title">
            Available Projects
        </h2>
        <div id="projects-wrapper">
            <ul class="projects columns-3">
                <!-- FOR TEMPLATE use
                        #each projects to wrap around the div/ul
                        json obj should resemble:
                        "projects" : [
                            { "name" : "Eyewire",
                              "image" : "eyewire.jpg"
                              "link" : "blah"
                            }
                        ] -->
                {{#each projects.projects}}
                <li>
                    <a class="project-cell" href="{{link}}">
                        <img class="project-cell-img" src="{{image}}" alt="">
                        <span class="project-cell-overlay"></span>
                        <span class="project-cell-text">{{name}}</span>
                    </a>
                </li>
                {{/each}}
                <!--<li>
                    <a class="project-cell" href="/earn/EyeWire">
                        <img class="project-cell-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg" alt="">
                        <span class="project-cell-overlay"></span>
                        <span class="project-cell-text">EyeWire</span>
                    </a>
                </li>


                <li>
                    <a class="project-cell" href="/earn/eterna">
                        <img class="project-cell-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg" alt="">
                        <span class="project-cell-overlay"></span>
                        <span class="project-cell-text">eterna</span>
                    </a>

                </li>
                <li>
                    <a class="project-cell" href="/earn/PHYLO">
                        <img class="project-cell-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg" alt="">
                        <span class="project-cell-overlay"></span>
                        <span class="project-cell-text">PHYLO</span>
                    </a>
                </li> -->
            </ul>
        </div>
            
        <!--
        <div class="goal-progress-wrapper">
            <p>
                Goal Progress
            </p>
            <div class="goal-wrapper">
                {{#if rewards}}
                <img id="item-pic" src="{{rewards.image}}">
                <p id="item-name">
                    {{rewards.name}}
                </p>
                {{else}}
                <h1>
                    Please set a goal
                </h1>
                {{/if}}
            </div>
            {{#if rewards}}
            <div class="progress-wrapper">
                <div class="progress bar-con">
                    <div class="bar" id="progressBar" data-percent="0"></div>
                </div>
                <div id="goal-points"> {{rewards.price}} Points</div>
            </div>
            {{/if}}
        </div>
        -->
    </div>


</body>
<!-- Load Navbar -->
<script>
    $("#navbar").load("/nav");
</script>
<script>
    /*
    (function($) {
        $.fn.progress = function() {
            var percent = this.data("percent");
            this.css("width", percent + "%");
        };
    }(jQuery));

    $(document).ready(function() {
        
        
    });
    //setInterval(loadNavProgress, 1000);
    
    function loadPoints() {
        var currPointCount = ($("#pointText").text()) + "/";
        console.log(currPointCount);
        document.getElementById("goal-points").prepend(currPointCount);
    }
    
    function calcPercent(total, req) {
        if(total > req) {
            return 100;
        }
        else { 
            return (total/req*100);
        }
    }
    
    function loadProgress() {
        var totalPoints = parseInt($("#pointText").text());
        var itemPoints = {{rewards.price}};
        var percent = calcPercent(totalPoints, itemPoints);
        console.log(percent);
        document.getElementById("progressBar").setAttribute("data-percent", percent);
        $(".progress .bar").progress();
    }
    
    setTimeout(loadPoints, 1000);
    setTimeout(loadProgress, 1000);
   */
</script>

</html>
