<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/CSS/persistent_tab.css">
<div id="nav">
    <div id="nav-wrapper">
        <ul>
            <li><a class="navbtn" href="/home" border="none">Home</a></li>
            <li><a class="navbtn" href="/earn">Earn</a></li>
            <li><a class="navbtn" href="/leaderboard">Leaderboard</a></li>
            <li><a class="navbtn" href="/redeem">Avatars</a></li>
            <li><a class="navbtn" href="/shop">Shop</a></li>
            <li style="color:#4CAF50;">
                <!--button class="btnarea dropdown navbtn" disabled-->

                EXP
                <p style="display: inline-block;color:#4CAF50" id="pointText" onclick="redeemFunction()" disabled>
                    {{score}}
                </p>
                /
                <p style="display: inline-block; color:#4CAF50" id="nextLevelExpText" onclick="redeemFunction()" disabled>
                    {{nextLevelExp}}
                </p>
                <div class="progress bar-con">
                    <div class="bar" id="navProgressBar" data-percent="0"></div>
                </div>
                <!-- /button -->

                <div id="redeemDropDown" class="dropdown-content">
                    <a href="/redeem" align="center">Redeem</a>
                </div>
            </li>
            <li style="width: 300px; margin-left: 15px;">
                <button class="btnarea dropdown dropbtn" onclick="myFunction()" style="width: 250px; height: 50px;">
                    Welcome, {{name}}
                </button>
                <img id="profileImg" src="{{reward}}" style="width: 50px; height: 50px; cursor: pointer; float: left;" onclick="gotoProfile()">
                
                <div style="background-color:#656565; color:#FFF; padding-top:5px; height: 40px;">
                    <p style="display: inline-block; vertical-align:middle; clear: both;">
                        Level
                    </p>
                    <p style="display: inline-block; vertical-align:middle;" id="currentLevelText" onclick="redeemFunction()">
                        {{level}}
                    </p>
                    <p style="display: inline-block; vertical-align:middle;">
                        | Gold: 
                    </p>
                    <p style="display: inline-block; vertical-align:middle;" id="currentGoldText" onclick="redeemFunction()">
                        {{gold}}
                    </p>
                </div>

                <div id="myDropdown" class="dropdown-content">
                    <a href="/profile" align="center">View Profile</a>
                    <a href="/" align="center">Sign Out</a>
                </div>
            </li>

        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<script>
    var localPercent = 0;
    (function($) {
        $.fn.progress = function() {
            var percent = this.data("percent");
            this.css("width", localPercent + "%");
            console.log("UPDATEEEE!!" + percent);
        };
    }(jQuery));

    $(document).ready(function() {


    });
    /* When the user clicks on the button, 
     */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function redeemFunction() {
        document.getElementById("redeemDropdown").classList.toggle("show");
    }

    function calcNavPercent(total, req) {
        if (total > req) {
            return 100;
        } else {
            return (total / req * 100);
        }
    }

    function loadNavProgress() {
        //console.log("nextLevelExp " + nextLevelExp);
        var totalPoints = parseInt($("#pointText").text());
        var itemPoints = parseInt($("#nextLevelExpText").text());
        console.log(itemPoints);
        console.log(totalPoints);
        var percent = calcNavPercent(totalPoints, itemPoints);
        localPercent = percent
        console.log("setting" + percent);
        document.getElementById("navProgressBar").setAttribute("data-percent", percent);
        $(".progress .bar").progress();
    }
    
    function gotoProfile()
    {
        window.location.href = '/profile';
    }
    loadNavProgress();
    setInterval(loadNavProgress, 500);


    // Close the dropdown menu if the user clicks outside of it
    /*
    window.onclick = function(event) {
        
        if (!event.target.matches('.btnarea')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
        
    }
    */

</script>
